
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #c0c0c0;
  padding: 20px;
}

.formula {
  display: flex;
  justify-content: right;
  
}

.output {
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 10px;
  min-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.btn {
  background-color: #4d4d4d;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #666;
}

.btn:active {
  background-color: #333;
}

.clear {
  background-color: #ee152b;
}

.clear:hover {
  background-color:  rgb(172, 57, 57);
}

.decimal {
  font-size: 2rem;
  padding: 25px;
}

.zero {
  grid-column: span 2;
}

.equals {
  background-color: #28a745;
  color: #fff;
  grid-column: span 2;
}

.equals:hover {
  background-color: #218838;
}

.subtract {
  grid-row: span 2;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

button:active {
  background-color: #d0d0d0;
}

button:focus {
  outline: none;
}

.divide, .multiply, .add, .subtract {
  background-color: #ffc107;
}

.divide:hover,
.multiply:hover,
.add:hover,
.subtract:hover {
  background-color: #e0a800;
}

.author {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: #888;
}
