.App {
  text-align: center;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

button:active {
  background-color: #d0d0d0;
}

button:focus {
  outline: none;
}

